.classCard{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        @include ipad(){
            flex-direction: column;
        }
    }
    .cardBox{
        display: flex;
        justify-content: space-between;
        @include ipad(){
            flex-direction: column;
        }
        .card{
            width: 31.3333%;
            box-shadow: 0px 2px 5px silver;
            &:hover{
                transform: translate(-3px, -3px);
            }
            @include ipad(){
                width: 100%;
                margin-bottom: 30px;
            }
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px 20px;
                color: $dark;
                h4{
                    font-size: 1.5rem;
                    font-weight: bold;
                    line-height: 4rem;
                }
                p{
                    line-height: 1.4rem;
                }
                
            }
        }
    }
}
.classCard-btn{
    padding: 10px 16px;
    font-weight: bold;
    margin-top: 25px;
}
.compare-table{
    .section-title {
        margin-bottom: 25px;
    }
    .table-wrap{
       @include ipad(){
            overflow-x: auto;
            overflow-y: hidden;
       }
    }
    table{
        font-weight: bold;
        border-collapse: collapse;
        text-align: center;
        width: 100%;
        @include ipad(){
            width: 700px;
        }
        td,th{
            border: 1px solid #dddddd;
            border-right: 0;
            border-left: 0;
            padding: 18px;
        }
        th{
            background: $light;
        }
    }
}
//頁尾
.index-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @include ipad(){
        align-items: center;
    }
    input{
        width: 100%;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        font-size: 1.2rem;
        text-indent: 15px;
        line-height: 3.5rem;
        margin-bottom: 20px;
        @include ipad(){
            font-size: 1rem;
            line-height: 3rem;
        }
    }
    .footer-btn{
        width: 30%;
        text-indent: 0;
    }
}
