*{
    box-sizing: border-box;
    transition: all .2s;
}
body,html {
    overflow-x: hidden;
    font-family: arial,sans-serif;
    color: $dark;
    letter-spacing: 0.7px;
}
a{
    display: block;
    text-decoration: none;
}
.wrap{
    max-width: 1024px;
    margin: 0 auto;
}
.content-padding{
    padding: 0 4%;
}
.section-gutter{
    margin-top: 50px;
    margin-bottom: 90px;
}
.primary-color{
    color: $primary-color;
}
.secondary-color{
    color: $secondary-color;
}
.light{
    color: $light;
}
.gray{
    color: $gray;
}
.banner{
    position: relative;
    min-height: 560px;
    background-image: url('../img/bg_index.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    //justify-content: center;
    align-items: center;
}
.topNav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(129, 129, 129, 0.3);
    .logo{
        display: block;
        width: 182px;
        height: 74px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url('../img/logo.png');
        background-repeat: no-repeat;
        background-position: center center;
    }
    ul{
        display: flex;
        a{
            display: block;
            padding: 24px 40px;
            text-decoration: none;
            color: #ffffff;
            border-bottom: 10px solid transparent;
            transition: all .2s;
            &:hover{
                color: $primary-color;
                border-bottom: 10px solid $primary-color;
            }
        }
    }
}
.head-content{
    color: #ffffff;
    h2{
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 35px;
        span{
            color: $primary-color;
        }
    }
    .link-btn{
        display: inline-block;
        background-color: $primary-color;
        color: #ffffff;
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 5px;
        padding: 20px 40px;
        &:hover{
            background-color: $secondary-color;
        }
        i{
            margin-left: 10px;
        }
    }
}
.section-title {
    h3{
        color: $primary-color;
        font-size: 2rem;
        font-weight: bold;
        span{
            display: inline-block;
            margin-left: 10px;
            color: $gray;
            font-weight: normal;
            font-size: 1.2rem;
        }
    }
}
